@import '../../sass/variables.scss';

.stakingCardsContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  &::after {
    content: '';
    flex: auto;
  }
}
