@import '../../sass/variables.scss';

.connectMessage {
  flex: 1 1 100%;
  display: flex;
  justify-content: center;

  &InnerContainer {
    background-color: $secondary-bg;
    padding: 20px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &Title {
      margin-bottom: 20px;
    }
  }
}

.stakingCardsContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  &::after {
    content: '';
    flex: auto;
  }
}
