@import '../../sass/variables.scss';

.layout {
  background-color: $main-bg;
  color: $main-text;
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
}

.mainSection {
  flex: 1 1 auto;
}

.mainContent {
  display: flex;
  flex-wrap: wrap;
  padding: 60px 100px;
}

@media screen and (max-width: 1354px) {
  .mainContent {
    padding: 40px 20px;
  }
}
